image: Visual Studio 2019

install:
  - ps: dotnet tool install GitVersion.Tool -g
  - ps: dotnet-gitversion /output buildserver

configuration: Release

environment:
  matrix:
    - runtime: win-x86
    - runtime: win-x64
    - runtime: linux-x64
    - runtime: linux-musl-x64
    - runtime: osx-x64

dotnet_csproj:
  patch: true
  version: '$(GitVersion_MajorMinorPatch)'

build_script:
- cmd: >-
    dotnet publish -c %configuration% -r %runtime% -p:PublishTrimmed=true -p:PublishSingleFile=true /p:IncludeAllContentForSelfExtract=true

    7z a reportportal-%GitVersion_SemVer%-%runtime%.zip ./src/ReportPortal.GaugePlugin/bin/%configuration%/net5.0/%runtime%/publish/*

artifacts:
  - path: '**/.zip'
