image: Visual Studio 2019

install:
  - ps: dotnet tool install GitVersion.Tool -g --version 5.1.3-beta1.89
  - ps: dotnet-gitversion /output buildserver

configuration: Release

environment:
  matrix:
    - runtime: win-x86
    - runtime: win-x64
    - runtime: linux-x64
    - runtime: osx-x64

dotnet_csproj:
  patch: true
  version: '$(GitVersion_MajorMinorPatch)'

build_script:
- cmd: >-
    dotnet publish -c %configuration% -r %runtime% /p:PublishTrimmed=true

    7z a reportportal-%GitVersion_SemVer%-%runtime%.zip ./src/ReportPortal.GaugePlugin/bin/%configuration%/netcoreapp3.1/%runtime%/publish/*

artifacts:
  - path: '**/.zip'
